<div ng-controller="main">
  <div class="tabbable">

    <div class="tab-pane" title="DB Browser">
      <p class="lead">Shows the schema and the rows of each table in a sample
                      database.</p>
      <select ng-model="table"
              ng-options="row for row in table_list">
        <option value="">--Select a Table--</option>
      </select>

      <div ng-show="table" class="tabbable">
        <div class="tab-pane" title="Rows">
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>

              <th ng-repeat="header in table_data.header">
                {{header}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in table_data.rows|limitTo:10">
              <td ng-repeat="column in row">
                {{column}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" title="Schema">
          <pre>{{table_create}}</pre>
        </div>
      </div>
    </div>
    <div class="tab-pane" title="Math">
      <p class="lead">Simple number division on the server.</p>
      <input type="number" ng-model="a">
      <input type="number" ng-model="b">
      <span> result: {{result}} </span>
    </div>


  </div>
</div>

